<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PsicoPets - Redefinir Senha</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

        body {
            font-family: "Montserrat", sans-serif;
            background: #f6f5f7;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: -20px 0 50px;
            margin-top: 20px;
        }

        .container {
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
            position: relative;
            overflow: hidden;
            width: 400px;
            max-width: 100%;
            padding: 20px;
            text-align: center;
        }

        .container h2 {
            margin-bottom: 20px;
        }

        .container label {
            display: block;
            margin-bottom: 5px;
            font-size: 1.2em;
        }

        .container input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            background: #eee;
        }

        .container button {
            background: linear-gradient(to right, #689d97, #87cdc4) no-repeat 0 0 /
          cover;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            border-radius: 20px;
            border: 1px solid #f5f2d0;
            cursor: pointer;
            transition: transform 80ms ease-in;
        }

        .container button:active {
            transform: scale(0.95);
        }

        .container button:focus {
            outline: none;
        }

        .container p {
            margin-top: 20px;
            color: #555;
        }

        .container p a {
            color: #333;
            font-size: 14px;
            text-decoration: none;
            margin: 15px 0;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('forgotPasswordForm');
            form.addEventListener('submit', async (event) => {
                event.preventDefault();
                const email = document.getElementById('email').value;

                try {
                    const response = await fetch('/forgotPassword', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ email })
                    });
                    const data = await response.json();
                    if (data.message) {
                        alert(data.message);
                    } else {
                        alert(data.error);
                    }
                } catch (error) {
                    console.error('Erro ao enviar email de redefinição de senha:', error);
                }
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h2>Redefinir Senha</h2>
        <form id="forgotPasswordForm">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Enviar email de redefinição</button>
        </form>
        <p><a href="/login">Voltar ao login</a></p>
    </div>
</body>
</html>