<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PsicoPets - Nova Senha</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #F0F0F0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            width: 100%;
            max-width: 400px;
            padding: 20px;
            background-color: #EDEDE9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .container h2 {
            color: #8B0000;
            margin-bottom: 20px;
        }
        .container label {
            display: block;
            margin-bottom: 5px;
            font-size: 1.2em;
        }
        .container input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .container button {
            background-color: #8B0000;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 1em;
            width: 100%;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('resetPasswordForm');
            form.addEventListener('submit', async (event) => {
                event.preventDefault();
                const newPassword = document.getElementById('newPassword').value;

                const urlParams = new URLSearchParams(window.location.search);
                const oobCode = urlParams.get('oobCode');

                try {
                    const response = await fetch('/resetPassword', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ oobCode, newPassword })
                    });
                    const data = await response.json();
                    if (data.message) {
                        alert(data.message);
                    } else {
                        alert(data.error);
                    }
                } catch (error) {
                    console.error('Erro ao redefinir senha:', error);
                }
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h2>Nova Senha</h2>
        <form id="resetPasswordForm">
            <label for="newPassword">Nova Senha:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            <button type="submit">Redefinir Senha</button>
        </form>
    </div>
</body>
</html>
